{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Конвертор</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <img class="logo-header" src="#" alt="логотип">
</header>
<main>

    <section class="hero">
        <h1>Конвертор файлов</h1>
        <p>Поможет быстро конвертировать форматы данных в нужный формат</p>
    </section>

    <section class="choice-buttons">
        <div class="container text-center choice-btns">
            <div class="row">
                {% for format in formats %}
                    <div class="col">
                        <a href={{ format.url }}><button>{{ format.source_format }} -> {{ format.result_format }}</button></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="header-question"><img src="img/mark_sv.svg" alt="question-mark"></div>
    </section>

    <hr class="header-hr">

    <section class="info">

        <div id="confidential">
            <h2>Конфиденциальность</h2>
            <p>Любые данные, вставленные и преобразованные
                в csv json, остаются локальными на вашем компьютере.
                Данные никогда не отправляются на сервер.</p>
        </div>

        <div class="container text-center">
            <div class="row row-cols-2 about-choices">

                <div class="col-12" id="about-head">
                    <h2>О формате данных</h2>
                </div>

                <div class="col" id="json">
                    <h2>Json</h2>
                    <p>JSON расшифровывается
                        как JavaScript Object Notation
                        и стал де-факто компьютерным форматом, доступным для
                        чтения людьми для хранения структурированных данных.
                        От API до файлов конфигурации JSON теперь везде.</p>
                </div>

                <div class="col" id="excel">
                    <h2>Excel</h2>
                    <p>Форматы в Excel отвечают
                        за то, как будут отображаться данные в ячейках. Форматирование позволяет
                        из разнородного набора информации — текста, чисел — сделать структурированную
                        и читаемую таблицу.</p>
                </div>

                <div class="col" id="md">
                    <h2>markdown</h2>
                    <p>Язык разметки Markdown широко распространён в вебе. На нём пишут readme-файлы и документацию,
                        а его принципы работы используют для оформления сообщений и публикаций в мессенджерах и
                        социальных сетях.</p>
                </div>

                <div class="col" id="jira">
                    <h2>Jira</h2>
                    <p>Плагин импортеров JIRA, который поставляется вместе с JIRA, позволяет импортировать ваши данные
                        из файла
                        с разделителями-запятыми (CSV).
                        CSV-файлы представляют собой текстовые файлы, представляющие табличные данные и поддерживаемые
                        большинством приложений, которые обрабатывают табличные данные</p>
                </div>
            </div>
        </div>

    </section>
</main>

<hr class="footer-hr">

<footer>

    <div class="container">
        <div class="row">

            <div class="col footer-logo">
                <img src="#" alt="логотип">
                <p>Слоган</p>
            </div>

            <div class="col footer-info">
                <h3>Конвертация</h3>
                <ul>
                    <li>excel -> excel</li>
                    <li>excel -> json</li>
                    <li>excel -> markdown</li>
                    <li>excel -> jira</li>
                </ul>
            </div>

            <div class="container col footer-media">
                <div class="row">
                    <h3>Сообщества</h3>
                </div>
                <div class="row">
                    VK
                </div>
                <div class="row">
                    INST
                </div>
            </div>

        </div>
    </div>

    <div class="footer-div">

    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>